# Prevent project from being labeled as C++ project
*.h linguist-language=C

# Microsoft Office documents
*.pptx diff=pptx

# vendored files
src/os/freertos/* linguist-vendored
tests/scripts/waf-core/* linguist-vendored
tools/vendor/* linguist-vendored
tools/waf linguist-vendored

# files tracked with Git LFS
*.zip filter=lfs diff=lfs merge=lfs -text

*.sln text eol=crlf

*.png binary
*.jpg binary

*.sh text eol=lf
tests/cli/helpers/test_misc/checksum_test.txt eol=lf

*.drawio text eol=lf

*.pdf binary
