# Prevent project from being labeled as C++ project
*.h linguist-language=C

# Microsoft Office documents
*.pptx diff=pptx

# vendored files
src/os/freertos/* linguist-vendored
tests/axivion/compiler-errata/ti-cgt-arm_20.2.6.lts/test/ti_cgt_arm/* linguist-vendored
tests/axivion/compiler-errata/ti-cgt-arm_20.2.6.lts/* linguist-vendored
tests/axivion/qualification-test/qualification-kit/* linguist-vendored
tests/scripts/waf-core/* linguist-vendored
tools/vendor/* linguist-vendored
tools/waf linguist-vendored

# files tracked with Git LFS
*.zip filter=lfs diff=lfs merge=lfs -text

tests/axivion/compiler-errata/ti-cgt-arm_20.2.6.lts/**/*.c -diff -merge -text
tests/axivion/compiler-errata/ti-cgt-arm_20.2.6.lts/**/*.cpp -diff -merge -text
tests/axivion/compiler-errata/ti-cgt-arm_20.2.6.lts/**/*.h -diff -merge -text
tests/axivion/compiler-errata/ti-cgt-arm_20.2.6.lts/**/*.json -diff -merge -text
tests/axivion/compiler-errata/ti-cgt-arm_20.2.6.lts/**/*.py -diff -merge -text

tests/axivion/qualification-test/qualification-kit/**/*.c -diff -merge -text
tests/axivion/qualification-test/qualification-kit/**/*.cpp -diff -merge -text
tests/axivion/qualification-test/qualification-kit/**/*.h -diff -merge -text
tests/axivion/qualification-test/qualification-kit/**/*.json -diff -merge -text
tests/axivion/qualification-test/qualification-kit/**/*.py -diff -merge -text
