**/.vscode/
/build/
/build-tools-tests/
/*build/
*/_build/*
!cli/cmd_build/__init__.py
!cli/cmd_build/build_impl.py
!docs/software/build/build.rst
!docs/tools/fox/build/fox_waf.rst
!tests/cli/cmd_build/__init__.py
!tests/cli/cmd_build/test_build_impl.py
!tests/variants/lib-build/README.md
!tests/variants/lib-build/lib-build.ps1
!tests/variants/lib-build/lib-build_cc-options.yaml
!tests/variants/lib-build/lib-build_main.c
/conf/hcg/include/*
/conf/hcg/source/*
/conf/hcg/*_bak.dil
/conf/hcg/*_bak.hcg
/tmp/*

*/tmp/*
*c4che*
/foxbms*/
tools/*waf3-*/
tools/waf-sig*
tools/utils/waf-sig*
.lock-waf*
.wafpickle-*
*.bz2
*.gz
*.zip
*.7z
*.stats
*.html

#
libbuild/
lib-build/

# spelling
dictionary.dic
file.log*
lex.txt

*.egg-info
dist/
__pycache__
.mypy_cache/
/qa-chain/*

*.log
*log*.txt
*log/*
!docs/tools/fox/etl/txt/can_log.txt

*.patch
*.diff

*.jdebug.user

# gcc coverage testing tool files
*.gcno
*.gcda
*.gcov

# ignore temp files
*~

# ignore JabRef - https://www.jabref.org/
*.bak
*.sav

# Temporary Office files

*.~*
*.~$*
~$*

**/foxbms-2_axivion_report*.json
**/foxbms_spa_report*.json
spa-artifacts/

*.o
*.obj
*.exe

/races.txt

# CAN log files
*.asc

*.tmp

# coverage files
.coverage
htmlcov/

*.mk
*.rsp
*.dmr
*.tmw
buildInfo.*
codeInfo.*

# drawio backup files
*.drawio.bkp
