alabaster==1.0.0
argparse-addons==0.12.0
astroid==3.3.10
attrs==25.3.0
babel==2.17.0
bitstruct==8.21.0
build==1.2.2.post1
cantools==40.2.2
certifi==2025.4.26
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.2
coverage==7.8.2
crccheck==1.3.0
cycler==0.12.1
dill==0.4.0
diskcache==5.6.3
distlib==0.3.9
docopt==0.6.2
docutils==0.21.2
filelock==3.18.0
fonttools==4.58.0
gcovr==8.3
gitdb==4.0.12
GitPython==3.1.44
identify==2.6.12
idna==3.10
imagesize==1.4.1
isort==6.0.1
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
latexcodec==3.0.0
lauterbach-trace32-rcl==1.1.4
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe==0.7.0
mypy==1.15.0
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pandas-stubs==2.2.3.250308
pillow==11.2.1
pipdeptree==2.26.1
platformdirs==4.3.8
pre_commit==4.2.0
pyarrow==20.0.0
pybtex==0.24.0
pybtex-docutils==1.0.3
Pygments==2.19.1
pykwalify==1.8.0
pylint==3.3.7
pymodbus==3.4.0 # HIL
pyparsing==3.2.3
pyproject_hooks==1.2.0
pyright==1.1.401
pyrsistent==0.20.0
pyserial==3.5
python-can==4.5.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyVISA==1.15.0
pywin32==310; platform_system == "Windows"
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
roman-numerals-py==3.1.0
rpds-py==0.25.1
RsInstrument==1.100.0
ruamel.yaml==0.18.11
ruamel.yaml.clib==0.2.12
ruff==0.11.11
SciencePlots==2.1.1
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinx-tabs==3.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-drawio==0.0.17
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
textparser==0.24.0
tomlkit==0.13.2
types-colorama==0.4.15.20240311
types-jsonschema==4.23.0.20250516
types-pytz==2025.2.0.20250516
types-PyYAML==6.0.12.20250516
typing_extensions==4.13.2
tzdata==2025.2
uptime==3.0.1
urllib3==2.4.0
virtualenv==20.31.2
wrapt==1.17.2
