alabaster==1.0.0
argparse-addons==0.12.0
astroid==3.3.8
attrs==25.1.0
babel==2.17.0
bitstruct==8.19.0
build==1.2.2.post1
cantools==40.2.1
certifi==2025.1.31
cffconvert==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.1
coverage==7.6.12
crccheck==1.3.0
cycler==0.12.1
dill==0.3.9
diskcache==5.6.3
distlib==0.3.9
docopt==0.6.2
docutils==0.21.2
filelock==3.17.0
fonttools==4.56.0
gcovr==8.3
gitdb==4.0.12
GitPython==3.1.44
identify==2.6.7
idna==3.10
imagesize==1.4.1
isort==6.0.0
Jinja2==3.1.5
jsonschema==3.2.0
kiwisolver==1.4.8
latexcodec==3.0.0
lauterbach-trace32-rcl==1.1.1
lxml==5.3.1
MarkupSafe==3.0.2
matplotlib==3.10.0
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pip-licenses==5.0.0
platformdirs==4.3.6
pre_commit==4.1.0
prettytable==3.14.0
pyarrow==19.0.0
pybtex==0.24.0
pybtex-docutils==1.0.3
Pygments==2.19.1
pykwalify==1.8.0
pylint==3.3.4
pymodbus==3.4.0
pyparsing==3.2.1
pyproject_hooks==1.2.0
pyrsistent==0.20.0
pyserial==3.5
python-can==4.5.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyVISA==1.14.1
pywin32==308; platform_system == "Windows"
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.22.3
RsInstrument==1.90.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.6
SciencePlots==2.1.1
scipy==1.15.2
setuptools==75.8.0
six==1.17.0
smmap==5.0.2
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinx-rtd-theme==3.0.2
sphinx-tabs==3.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-drawio==0.0.17
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tabulate==0.9.0
textparser==0.24.0
tomli==2.2.1
tomlkit==0.13.2
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
tzdata==2025.1
uptime==3.0.1
urllib3==2.3.0
virtualenv==20.29.2
wcwidth==0.2.13
wrapt==1.17.2
