<?xml version="1.0" encoding="UTF-8"?>
<Configuration Key="cafeCC">
  <Node Key="Frontend" Unset="false">
    <Binding Key="Object_File_Extension" Unset="false" Value="obj"/>
  <Node Key="C" Unset="false">
      <Binding Key="Native_Compiler" Unset="false" Value="C:\ti\ccs1031\ccs\tools\compiler\ti-cgt-arm_20.2.4.LTS\bin\armcl.exe"/>
    <Node Key="Compiler" Unset="false">
        <Node Key="Options" Unset="false">
          <Binding Key="1" Unset="false" Value="--gcc"/>
        <Binding Key="2" Unset="false" Value="--gnu_version=90000"/>
        <Binding Key="3" Unset="false" Value="--type_system=ti"/>
        <Binding Key="4" Unset="false" Value="--clang_feature_test_macros"/>
        <Binding Key="5" Unset="false" Value="--variadic_macros"/>
        <Binding Key="6" Unset="false" Value="--c11"/>
        <Binding Key="7" Unset="false" Value="--unsigned_chars"/>
        <Binding Key="8" Unset="false" Value="--short_enums"/>
        <Binding Key="9" Unset="false" Value="--diag_suppress=1819"/>
        </Node>
      </Node>
    </Node>
  <Node Key="C++" Unset="false">
      <Binding Key="Native_Compiler" Unset="false" Value="C:\ti\ccs1031\ccs\tools\compiler\ti-cgt-arm_20.2.4.LTS\bin\armcl.exe"/>
    <Node Key="Compiler" Unset="false">
        <Node Key="Options" Unset="false">
          <Binding Key="1" Unset="false" Value="--g++"/>
        <Binding Key="2" Unset="false" Value="--gnu_version=90000"/>
        <Binding Key="3" Unset="false" Value="--type_system=ti"/>
        <Binding Key="4" Unset="false" Value="--clang_feature_test_macros"/>
        <Binding Key="5" Unset="false" Value="--variadic_macros"/>
        <Binding Key="6" Unset="false" Value="--c++14"/>
        <Binding Key="7" Unset="false" Value="--unsigned_chars"/>
        <Binding Key="8" Unset="false" Value="--short_enums"/>
        <Binding Key="9" Unset="false" Value="--no_rtti"/>
        <Binding Key="10" Unset="false" Value="--no_exceptions"/>
        </Node>
      </Node>
    </Node>
  </Node>
  <Node Key="Switches" Unset="false">
    <Binding Key="--define=" Unset="false" Value="DefineMacro"/>
    <Binding Key="--include_path=" Unset="false" Value="IncludeDirectoryList"/>
    <Binding Key="--asm_directory=" Unset="false" Value="OutputDirectory"/>
    <Binding Key="--obj_directory=" Unset="false" Value="OutputDirectory"/>
    <Binding Key="--preproc_dependency=" Unset="false" Value="DependencyFile"/>
    <Binding Key="--preproc_with_compile" Unset="false" Value="CompileMode"/>
    <Binding Key="--issue_remarks" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--cmd_file=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="-@:" Unset="false" Value="CompilerResponseFile"/>
    <Binding Key="-with_ir_suffix;!" Unset="false" Value="WithIRSuffix"/>
    <Binding Key="--advice:performance=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--diag_warning=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--diag_wrap=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--display_error_number" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--opt_for_speed=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--optimize_with_debug=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--unaligned_access=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--vcu_support=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="-z" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="-i!" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--heap_size=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--stack_size=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--reread_libs" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--warn_sections" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--xml_link_info=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--ram_model" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--rom_model" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--code_state=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--float_support=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="-mv!" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--endian=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="-me" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--fp_mode=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--neon" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--strict_ansi" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--abi=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--wchar_t=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="-rtti" Unset="false" Value="--rtti"/>
    <Binding Key="--exceptions" Unset="false" Value="-carg --exceptions --rtti"/>
    <Binding Key="--plain_char=signed" Unset="false" Value="--signed_chars"/>
    <Binding Key="--plain_char=unsigned" Unset="false" Value="--unsigned_chars"/>
    <Binding Key="--enum_type=packed" Unset="false" Value="--short_enums"/>
    <Binding Key="--enum_type=int" Unset="false" Value="--no_short_enums"/>
    <Binding Key="--output_file=" Unset="false" Value="OutputFile"/>
    <Binding Key="--search_path=" Unset="false" Value="LibraryDirectory"/>
    <Binding Key="--library=" Unset="false" Value="LinkLibrary"/>
    <Binding Key="--silicon_version=" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--emit_warnings_as_errors" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--gen_cross_reference_listing" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--gen_func_info_listing" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--gen_preprocessor_listing" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="--compile_only" Unset="false" Value="NoLink"/>
  <Binding Key="-o:" Unset="false" Value="IgnoreSwitch"/>
  </Node>
<Node Key="Environment" Unset="false">
    <Binding Key="CAFE_INCLUDE" Unset="false" Value="C:\ti\ccs1031\ccs\tools\compiler\ti-cgt-arm_20.2.4.LTS\include"/>
  <Binding Key="CAFEPP_INCLUDE" Unset="false" Value="C:\ti\ccs1031\ccs\tools\compiler\ti-cgt-arm_20.2.4.LTS\include\libcxx;C:\ti\ccs1031\ccs\tools\compiler\ti-cgt-arm_20.2.4.LTS\include"/>
  </Node>
</Configuration>
