// cSpell Settings
{
    // Version of the setting file.  Always 0.1
    "version": "0.1",
    // language - current active spelling language
    "language": "en",
    // words - list of words to be always considered correct
    "words": [
        "alphanumericals",
        "cacheable",
        "contactor",
        "contactors",
        "deci",
        "favicon",
        "initialisms",
        "inplace",
        "intrinsics",
        "microcontroller",
        "multiline",
        "optocoupler",
        "overcurrent",
        "overvoltage",
        "parens",
        "phosphane",
        "prepending",
        "recurse",
        "roadmap",
        "strippable",
        "substate",
        "substates",
        "supercapacitor",
        "supercapacitors",
        "throughs",
        "toolchain",
        "toolset",
        "undervoltage",
        "unversioned",
        "vendored"
    ],
    "enabled": true,
    "allowCompoundWords": false,
    "ignoreWords": [
        // project name
        "foxbms",
        // some german words
        "angewandten",
        "Forschung",
        "Foerderung",
        "IISB",
        "Schottkystrasse",
        "Erlangen",
        // Company and product names
        "Altium",
        "GitHub",
        "GitLab",
        // user name in the documentatn
        "vulpes",
        // Windows related
        "USERPROFILE",
        "LOCALAPPDATA",
        "findstr",
        // file extensions
        "vsdx",
        // file names
        "fstartup",
        "portasm",
        "cppchecksuppression",
        "cppcheckmisra",
        // prefixes we use in our embedded sources
        "BALS",
        "ILCK",
        "SYSM",
        "FTSK",
        "FTASK",
        "MRC",
        "fstd",
        "SHAREDRAM",
        //unit componds
        "ddeg",
        "perc",
        // C standard header
        "stdbool",
        // general software terms
        "memcpy",
        "NTFS",
        "JTAG",
        "unstaged",
        "Traceback",
        "GCCRLE",
        "LGPL",
        "SPDX",
        "TSPA",
        "automodule",
        "autoclass",
        "LLVM",
        "untracked",
        "mingw",
        "mutex",
        "posix",
        "envs",
        "devel",
        "libc",
        "Ooff",
        "cflags",
        "subdir",
        "relpath",
        "abspath",
        "printf",
        "nolint",
        "memset",
        "memwidth",
        "threadsafe",
        "vlog",
        "tskdef",
        "forcolon",
        "linelength",
        "preprocess",
        "pylint",
        "uint",
        "typedef",
        "typedefs",
        "ifdef",
        "ifndef",
        "struct",
        "structs",
        "IBIT",
        "PBIT",
        "CBIT",
        // bender
        "OKHS",
        // ARM
        "curpc",
        "SPSR",
        // ARM Assembler
        "orreq",
        "msreq",
        // Compound words in defines, abbreveations from HAL, etc.
        "RTSV", // TI: abbrevation for "runtime support library"
        "ADDMODERD",
        "ADDMODEWR",
        "INTA",
        "Oport",
        "DMAREQEN",
        "EEPROM",
        "FAS_ASSERT",
        "FASSERT",
        "GPIO",
        "GPIOs",
        "GIOPORT",
        "GIODIR",
        "AVCLK",
        "DOUT",
        "VREF",
        "mosi",
        "miso",
        "PORTA",
        "PORTASGN",
        "PORTB",
        "SYSPC",
        "ECLK",
        "FRCNT",
        "ELCNT",
        "WDEL",
        "DFSEL",
        "CSNR",
        "FRDOFFSET",
        "RDSIZE",
        "WRSIZE",
        "POWERON",
        // LTC related words
        "REFON",
        "RDCVA",
        "RDCVB",
        "RDCVC",
        "RDCVD",
        "RDCVE",
        "RDCVF",
        "RDCVG",
        "RDCVH",
        "RDCVI",
        "RDCFG",
        "WRCFG",
        "RDAUXA",
        "RDAUXB",
        "RDAUXC",
        "RDAUXD",
        "ADAX",
        "ADOW",
        "PDOWN",
        // Maxim register names
        "SHTNDL",
        "ALRTFMEA",
        "ALRTSUM",
        "ALRTOVCELL",
        "ALRTUVCELL",
        "ALRTAUXPRTCT",
        "ALRTAUXOV",
        "ALRTAUXUV",
        "ALRTCOMPOV",
        "ALRTCOMPUV",
        "ALRTCOMPAUXOV",
        "ALRTCOMPAUXUV",
        "ALRTBALSW",
        "ALRTSTATUS",
        "SWACTION",
        "AUXGPIOCFG",
        "AUXOV",
        "AUXUV",
        "ALRTIRQEN",
        "ALRTOVEN",
        "ALRTUVEN",
        "ALRTAUXOVEN",
        "ALRTAUXUVEN",
        "ALRTCALTST",
        "ALRTRJCT",
        "OVTHCLR",
        "OVTHSET",
        "UVTHCLR",
        "UVTHSET",
        "MSMTCH",
        "BIPOVTHCLR",
        "BIPOVTHSET",
        "BIPUVTHCLR",
        "BIPUVTHSET",
        "BLKOVTHCLR",
        "BLKOVTHSET",
        "BLKUVTHCLR",
        "BLKUVTHSET",
        "CSAOVTHCLR",
        "CSAOVTHSET",
        "CSAUVTHCLR",
        "CSAUVTHSET",
        "CBUVMINCELL",
        "CBUVTHR",
        "CBTIMER",
        "AUXROVTHCLR",
        "AUXROVTHSET",
        "AUXRUVTHCLR",
        "AUXRUVTHSET",
        "AUXOVTHCLR",
        "AUXAOVTHSET",
        "AUXAUVTHCLR",
        "AUXAUVTHSET",
        "CELLOV",
        "CELLUV",
        "COMPOVTH",
        "COMPUVTH",
        "COMPAUXROVTH",
        "COMPAUXRUVTH",
        "COMPAUXAOVTH",
        "COMPAUXAUVTH",
        "COMPAUXROPNTH",
        "COMPAUXAOPNTH",
        "COMPACCOVTH",
        "COMPACCUVTH",
        "ACQCFG",
        "BALSWDLY",
        "BALSW",
        "MEASUREEN",
        "DIAGCFG",
        "GPIOCFG",
        "CBMODE",
        "CTSTCFG",
        "AUXSTCFG",
        "DIAGGENCFG",
        "BALAUTOUVTHR",
        "BALUVSTAT",
        "OVERSAMPL",
        "OVTHCLR",
        "AUTOBALSWDIS",
        "ALRT",
        "CBRESTART",
        "ALRTRST",
        "CMPN",
        "UVTHSETREG",
        "OVTHSETREG",
        "CELLDLY",
        "CSTAT",
        "PNTR",
        "CPNTR",
        "WDATA",
        "CSEND",
        "DIAGSEL",
        "DIAGSEL1",
        "DIAGSEL2",
        "BALEXPn",
        "I2CRJCT",
        "CRJCT",
        "I2CRDATA1",
        "I2CRDATA2",
        "CRDATA",
        // Maxim driver related words
        "fmea",
        "uphost",
        "downhost",
        "KBPS",
        // NXP related words and abbrevations
        "NXPFS",
        "RSTB",
        "OVUV",
        "OVUVREG",
        "FSSM",
        "INTB",
        "AMUX",
        "VMON",
        "REGX",
        "DEVICEID",
        "LBIST",
        "BIST",
        "ABIST",
        "PGOOD",
        "VCOREMON",
        "VDDIO",
        "FTTI",
        "FCCU",
        "INITFS",
        "VBOSUVH",
        "VBOOSTUVH",
        "VSUPUV",
        "VPREUVL",
        "VPREUVH",
        "VSUPUVL",
        "VSUPUVH",
        "BTFB",
        "BTSC",
        // standards
        "misra",
        // hardware abbreveations or hardware components
        "fram",
        "isabellenhuette",
        "tektronix",
        "pcan",
        "lauterbach",
        "epcos",
        "vishay",
        "ntcalug", // temperature sensor form vishay
        // asm keywords
        "endasmfunc",
        // third party software, tools, configuration files etc.
        "doxygen",
        "rcfile",
        "filecvt",
        "marm",
        "dilfile",
        "Segger",
        "Jupyter",
        "rubyinstaller",
        "rubygems",
        "Sysnative",
        "msvs",
        "msvc",
        "tiobj",
        "cygwin",
        "SPNU",
        "arm",
        "none",
        "eabi",
        "objcopy",
        "objdump",
        "readelf",
        "size",
        "armabs",
        "armacpia",
        "armadv",
        "armar",
        "armasm",
        "armcg",
        "armcl",
        "armclist",
        "armdem",
        "armdis",
        "armembed",
        "armhex",
        "armilk",
        "armlibinfo",
        "armlnk",
        "armnm",
        "armofd",
        "armopt",
        "armpdd",
        "armpprof",
        "armstrip",
        "armxref",
        "mkhex",
        "mklib",
        "gmake",
        "ruby",
        "ceedling",
        "ceedlingproject",
        "Mockbeta",
        "Mockdatabase",
        "Mockepcos",
        "Mockmath",
        "cppcheck",
        "freertos",
        "safertos",
        "rtos",
        "jdebug",
        "gcov",
        "gcovr",
        "msys",
        "devkit",
        "conda",
        "condarc",
        "miniconda",
        "halcogen",
        // ceedling
        "cmock",
        // waf
        "APPNAME",
        "sigs",
        "algo",
        "setenv",
        "stlib",
        "stlink",
        "waf's",
        "waflib",
        "wscript",
        "distclean",
        "distcheck",
        "testbuild",
        "confcache",
        "ccroot",
        "bldpath",
        "CPPPATH",
        "CCDEPS",
        "CCLINK",
        "STLIBPATH",
        "cprogram",
        "tiprogram",
        "LDFLAGS",
        "LINKDEPS",
        "deps",
        "bdir",
        "okmsg",
        "bldnode",
        // variables in wscript
        "vscshell",
        "confpy",
        // rst
        "linkcheck",
        "stringliteral",
        "toctree",
        "titlesonly",
        "maxdepth",
        "numref",
        "linenos",
        "literalinclude",
        "subsubsection",
        "subsubsections",
        "doxygenfunction",
        "genindex",
        "modindex",
        // python
        "pycache",
        "getenv",
        "pypi",
        "isalnum",
        "itertools",
        "pylintrc",
        "pyproject",
        "groupby",
        "popen",
        "tzname",
        "rsplit",
        "finditer",
        "hexlify",
        "startswith",
        // python packages
        "gprof2dot",
        "pstats",
        "numpy",
        "mypy",
        "statsmodels",
        "scikit",
        "filterpy",
        "dask",
        "scipy",
        "seaborn",
        //wxpython
        "wxagg",
        // matplotlib
        "xlabel",
        "ylabel",
        "pyplot",
        // graphviz
        "fillcolor",
        "graphviz",
        "lhead",
        "invis",
        "fontcolor",
        "darkgreen",
        "nodesep",
        "ranksep",
        "ltail",
        "rankdir",
        "doublecircle",
        // conf.py (sphinx)
        "numfig",
        "delim",
        //latex
        "mathrm",
        // compiler flags
        "DASSERT",
        "flto",
        // compiler derived words
        "hexgen",
        "preproc",
        // cc-options.yaml
        "LINKFLAGS",
        "HEXGENFLAGS",
        "NMFLAGS",
        // misc
        "pprs"
    ],
    "dictionaries": [
        "wordsEn",
        "wordsEnGb",
        "companies",
        "softwareTerms",
        "misc"
    ],
    "ignorePaths": [
        "**/package-lock.json",
        "**/node_modules/**",
        "**/vscode-extension/**",
        "**/.git/objects/**",
        "**/__pycache__/**",
        // our directories and files
        "**/*rules-2012.txt",
        ".git*",
        ".vscode",
        "build/**",
        ".clang-format",
        ".mailmap",
        "BSD-3-Clause.txt",
        "CC-BY-4.0.txt",
        "conf/cc/linker_pulls.json",
        "conf/env/conda_env_*.yaml",
        "conf/spa/.pylintrc",
        "conf/hcg/**",
        "conf/spa/cppchecksuppression.txt",
        "docs/_ext/**",
        "docs/_themes/**",
        "docs/stylesheetfile.css",
        "docs/doxygen*.*",
        "docs/general/team-ad-sc.rst",
        "docs/general/team-dev.rst",
        "docs/spelling_wordlist.txt",
        "docs/software/configuration/fstartup.c-check.txt",
        "docs/general/licenses-packages-conda-env.csv",
        "docs/general/licenses-packages-conda-env-spelling.txt",
        "docs/general/licenses-packages-conda-env-spelling-build-strings.txt",
        "docs/misc/bibliography.rst",
        "hardware/**/*.Harness",
        "hardware/**/*.SchDoc",
        "hardware/**/*.PcbDoc",
        "hardware/**/*.Annotation",
        "hardware/**/*.BomDoc",
        "hardware/**/*.PrjPCB",
        "hardware/**/*.PrjPcbVariants",
        "hardware/**/*.PrjPcbStructure",
        "hardware/**/*.OutJob",
        "hardware/**/*.DbLib",
        "hardware/**/*.SchLib",
        "hardware/**/*.PcbLib",
        "hardware/**/*.mdb",
        "hardware/**/*.stp",
        // third party sources
        "src/app/driver/mic/nxp/common/MC33775A.h",
        "src/app/driver/sbc/fs8x_driver/**",
        "src/app/driver/mic/ltc/common/ltc_pec.*",
        "src/os/**",
        "tools/debugger/lauterbach/*.in",
        // waf
        ".lock-waf_*",
        "tools/waf3-*/**",
        "tools/waf"
    ]
}
