// cSpell Settings
{
    // Version of the setting file.  Always 0.2
    "version": "0.2",
    // language - current active spelling language
    "language": "en",
    "enabledLanguageIds": [
        "bat",
        "bibtex",
        "c",
        "cpp",
        "css",
        "diff",
        "html",
        "json",
        "jsonc",
        "markdown",
        "plaintext",
        "powershell",
        "python",
        "restructuredtext",
        "shellscript",
        "xml",
        "yaml"
    ],
    // words - list of words to be always considered correct
    "words": [
        "alphanumericals",
        "archiver",
        "cacheable",
        "contactor",
        "contactors",
        "deci",
        "endianness",
        "favicon",
        "initialisms",
        "inplace",
        "intrinsics",
        "layermarker",
        "logfiles",
        "microcontroller",
        "multiline",
        "opamps",
        "optocoupler",
        "optocouplers",
        "overcurrent",
        "overtemperature",
        "overvoltage",
        "parens",
        "phosphane",
        "pinout",
        "pinouts",
        "precharge",
        "precharged",
        "precharging",
        "prepend",
        "prepending",
        "readmes",
        "recalibrated",
        "receptable",
        "recurse",
        "reinitialization",
        "resetted",
        "roadmap",
        "semihosting",
        "solderabilty",
        "strippable",
        "substate",
        "substates",
        "supercapacitor",
        "supercapacitors",
        "throughs",
        "timespan",
        "toolchain",
        "toolchains",
        "toolset",
        "typedefed",
        "undertemperature",
        "undervoltage",
        "uninitialization",
        "uninitialize",
        "uninstallation",
        "unversioned",
        "vendored",
        "warnable",
        // Abbreviations
        "pdfs", // plural PDF
        "pkgs", // plural packages
        "Mbit" // megabit
    ],
    "enabled": true,
    "allowCompoundWords": false,
    "ignoreWords": [
        // project name
        "foxbms",
        "foxBMS",
        "FOXBMS",
        // some german words
        "angewandten",
        "Forschung",
        "Foerderung",
        "IISB",
        "Schottkystrasse",
        "Erlangen",
        // Company and product names
        "Altium",
        "Cppcheck", // a static program analysis tool
        "GitHub",
        "GitLab",
        "Mictor",
        "OSHWA", // Open Source Hardware Association
        "SAMTEC", // company
        "JFLASH",
        "Molex",
        "orcid",
        "wuerth",
        "zenodo",
        // user name in the documentation
        "vulpes",
        "fgui",
        "lvac", // gui frame name
        // Windows related
        "USERPROFILE",
        "CODEPAGE",
        "ERRORLEVEL",
        "LOCALAPPDATA",
        "APPDATA",
        // cmd, batch
        "chcp",
        "dpfn",
        "enabledelayedexpansion",
        "enableextensions",
        "findstr",
        "popd",
        "usebackq",
        "pushd",
        "setlocal",
        "xcopy",
        // NSIS installer arguments
        "noassocfiles",
        "nomodpath",
        // bash
        "substr",
        "gsub",
        // file extensions
        "vsdx",
        // file names
        "isonum",
        "fstartup",
        "foxmath",
        "portasm",
        // prefixes we use in our embedded sources
        "AFE", // Analog Front-End
        "AFES", // Analog Front-Ends
        "BALS",
        "CANRX", // CAN receive
        "CANTX", // CAN transmit
        "HTSEN",
        "ILCK",
        "SYSM",
        "FTSK",
        "FTASK",
        "EMIF", // Extended Memory Interface
        "NOIMD",
        "MRC",
        "fstd",
        "SHAREDRAM",
        //unit componds
        "ddeg",
        "perc",
        // C standard header
        "assert",
        "complex",
        "ctype",
        "errno",
        "fenv",
        "float",
        "inttypes",
        "iso646",
        "limits",
        "locale",
        "math",
        "setjmp",
        "signal",
        "stdalign",
        "stdarg",
        "stdatomic",
        "stdbool",
        "stddef",
        "stdint",
        "stdio",
        "stdlib",
        "stdnoreturn",
        "string",
        "tgmath",
        "threads",
        "time",
        "uchar",
        "wchar",
        "wctype",
        // C functions
        "realloc",
        // general software terms
        "MOSFET",
        "memcpy",
        "realloc",
        "calloc",
        "mcalloc",
        "NTFS",
        "JTAG",
        "unstaged",
        "Traceback",
        "GCCRLE",
        "LGPL",
        "SPDX",
        "TSPA",
        "automodule",
        "autoclass",
        "LLVM",
        "untracked",
        "mingw",
        "mutex",
        "posix",
        "envs",
        "devel",
        "libc",
        "Ooff",
        "cflags",
        "subdir",
        "relpath",
        "abspath",
        "printf",
        "memset",
        "memwidth",
        "threadsafe",
        "threadsafety",
        "vlog",
        "tskdef",
        "forcolon",
        "linelength",
        "preprocess",
        "pylint",
        "uint",
        "typedef",
        "typedefs",
        "ifdef",
        "ifndef",
        "struct",
        "structs",
        "IBIT",
        "PBIT",
        "CBIT",
        "SIMO",
        "SOMI",
        "docref",
        // bender
        "VIFC", // Vehicle Interface Controller
        // ARM
        "curpc",
        "SPSR",
        // ARM Assembler
        "orreq",
        "msreq",
        // Compound words in defines, abbreveations from HAL, etc.
        "SPIDATAFMT_t", // TI: driver code
        "ecap", // TI: abbrevation for "Enhanced Capture" driver
        "RTSV", // TI: abbrevation for "runtime support library"
        "SPNA", // TI: prefix for lots of documents (and we reference them)
        "SCPS", // TI: prefix for lots of documents (and we reference them)
        "REPEATMODE", // TI: driver code
        "BUSBUSY", // TI: driver code
        "RAMREG", // TI: driver code
        "SIGREGL", // TI: driver code
        "SIGREGH", // TI: driver code
        "ADDMODERD",
        "ADDMODEWR",
        "CSHOLD",
        "SPIDAT",
        "SPIEN",
        "TDELAY",
        "INTA",
        "IOUT",
        "Oport",
        "DIEIDL",
        "DIEIDH",
        "DMAREQEN",
        "EEPROM",
        "FAS_ASSERT",
        "FASSERT",
        "GPIO",
        "GPIOs",
        "GIOPORT",
        "GIODIR",
        "AVCLK",
        "DOUT",
        "VREF",
        "mosi",
        "miso",
        "PORTA",
        "PORTASGN",
        "PORTB",
        "HCLK",
        "SYSPC",
        "ecap",
        "ECLK",
        "etpwm",
        "TBPRD",
        "TBCLK",
        "FRCNT",
        "ELCNT",
        "WDEL",
        "DFSEL",
        "CSNR",
        "FRDOFFSET",
        "RDSIZE",
        "WRSIZE",
        "POWERON",
        "IDADDR",
        "ITCOUNT",
        "DMACR",
        "RXDMAEN",
        "ISADDR",
        "ITCOUNT",
        "TXDMAEN",
        "SADC",
        // LTC related words
        "isospi",
        "VBAT",
        "VREG",
        "REFUP",
        "SWTEN",
        "REFON",
        "RDCVA",
        "RDCVB",
        "RDCVC",
        "RDCVD",
        "RDCVE",
        "RDCVF",
        "RDCVG",
        "RDCVH",
        "RDCVI",
        "RDCFG",
        "WRCFG",
        "RDAUXA",
        "RDAUXB",
        "RDAUXC",
        "RDAUXD",
        "ADAX",
        "ADOW",
        "PDOWN",
        // Maxim register names
        "SHTNDL",
        "ALRTFMEA",
        "ALRTDUALUART",
        "ALRTINTRFC",
        "ALRTSUM",
        "ALRTOVCELL",
        "ALRTUVCELL",
        "ALRTAUXPRTCT",
        "ALRTAUXOV",
        "ALRTAUXUV",
        "ALRTCOMPOV",
        "ALRTCOMPUV",
        "ALRTCOMPAUXOV",
        "ALRTCOMPAUXUV",
        "ALRTBALSW",
        "ALRTSTATUS",
        "SWACTION",
        "AUXGPIOCFG",
        "AUXOV",
        "AUXUV",
        "ALRTIRQEN",
        "ALRTOVEN",
        "ALRTUVEN",
        "ALRTAUXOVEN",
        "ALRTAUXUVEN",
        "ALRTCALTST",
        "ALRTRJCT",
        "OVTHCLR",
        "OVTHSET",
        "UVTHCLR",
        "UVTHSET",
        "MSMTCH",
        "BIPOVTHCLR",
        "BIPOVTHSET",
        "BIPUVTHCLR",
        "BIPUVTHSET",
        "BLKOVTHCLR",
        "BLKOVTHSET",
        "BLKUVTHCLR",
        "BLKUVTHSET",
        "CSAOVTHCLR",
        "CSAOVTHSET",
        "CSAUVTHCLR",
        "CSAUVTHSET",
        "CBUVMINCELL",
        "CBUVTHR",
        "CBTIMER",
        "AUXROVTHCLR",
        "AUXROVTHSET",
        "AUXRUVTHCLR",
        "AUXRUVTHSET",
        "AUXOVTHCLR",
        "AUXAOVTHSET",
        "AUXAUVTHCLR",
        "AUXAUVTHSET",
        "CELLOV",
        "CELLUV",
        "COMPOVTH",
        "COMPUVTH",
        "COMPAUXROVTH",
        "COMPAUXRUVTH",
        "COMPAUXAOVTH",
        "COMPAUXAUVTH",
        "COMPAUXROPNTH",
        "COMPAUXAOPNTH",
        "COMPACCOVTH",
        "COMPACCUVTH",
        "ACQCFG",
        "BALSWDLY",
        "BALSW",
        "MEASUREEN",
        "DIAGCFG",
        "GPIOCFG",
        "CBMODE",
        "CTSTCFG",
        "AUXSTCFG",
        "DIAGGENCFG",
        "BALAUTOUVTHR",
        "BALUVSTAT",
        "OVERSAMPL",
        "OVTHCLR",
        "AUTOBALSWDIS",
        "ALRT",
        "CBRESTART",
        "ALRTRST",
        "CMPN",
        "UVTHSETREG",
        "OVTHSETREG",
        "CELLDLY",
        "CSTAT",
        "PNTR",
        "CPNTR",
        "WDATA",
        "CSEND",
        "DIAGSEL",
        "DIAGSEL1",
        "DIAGSEL2",
        "BALEXPn",
        "I2CRJCT",
        "CRJCT",
        "I2CRDATA1",
        "I2CRDATA2",
        "CRDATA",
        "GNDL",
        // Maxim driver related words
        "fmea",
        "uphost",
        "downhost",
        "KBPS",
        // NXP related words and abbrevations
        "NXPFS",
        "RSTB",
        "OVUV",
        "OVUVREG",
        "FSSM",
        "INTB",
        "AMUX",
        "VMON",
        "REGX",
        "DEVICEID",
        "LBIST",
        "BIST",
        "ABIST",
        "PGOOD",
        "VCOREMON",
        "VDDIO",
        "FTTI",
        "FCCU",
        "INITFS",
        "VBOSUVH",
        "VBOOSTUVH",
        "VSUPUV",
        "VPREUVL",
        "VPREUVH",
        "VSUPUVL",
        "VSUPUVH",
        "BTFB",
        "BTSC",
        // protocols
        "UART",
        // standards
        "misra",
        // hardware abbreveations or hardware components
        "fram", // Ferroelectric Random Access Memory
        "isabellenhuette",
        "tektronix",
        "pcan", // Prodcut of the company PEAK Systems GmBH
        "USBBUS", // name of the PCAN USB buses in the "python-can" library
        "lauterbach",
        "epcos",
        "murata",
        "vishay",
        "mram", // Magnetoresistive Random Access Memory
        "ntcalug", // temperature sensor form vishay
        "ntcle", // temperature sensor form vishay
        "OHKS", // digital status pin from Bender IR155
        // Axivion
        "axivion",
        "cafecc",
        "Codeline",
        "gravis",
        "larg",
        "preinc",
        "dashserver",
        "localbuild",
        "noauth",
        "workitem",
        "TESTCASE",
        // asm keywords
        "endasmfunc",
        // third party software, tools, configuration files etc.
        "doxygen",
        "rcfile",
        "filecvt",
        "marm",
        "dilfile",
        "Segger",
        "Jupyter",
        "rubyinstaller",
        "rubygems",
        "Sysnative",
        "msvs",
        "msvc",
        "tiobj",
        "cygwin",
        "SPNU",
        "arm",
        "none",
        "eabi",
        "objcopy",
        "objdump",
        "readelf",
        "size",
        "armabs",
        "armacpia",
        "armadv",
        "armar",
        "armasm",
        "armcg",
        "armcl",
        "armclist",
        "armdem",
        "armdis",
        "armembed",
        "armhex",
        "armilk",
        "armlibinfo",
        "armlnk",
        "armnm",
        "armofd",
        "armopt",
        "armpdd",
        "armpprof",
        "armstrip",
        "armxref",
        "mkhex",
        "mklib",
        "gmake",
        "ruby",
        "ceedling",
        "ceedlingproject",
        "Mockbeta",
        "Mockdatabase",
        "Mockepcos",
        "Mockmath",
        "freertos",
        "safertos",
        "rtos",
        "jdebug",
        "gcov",
        "gcovr",
        "msys",
        "lcov",
        "devkit",
        "conda",
        "condarc",
        "miniconda",
        "halcogen",
        // ceedling
        "cmock",
        // html
        "endverbatim",
        // waf
        "APPNAME",
        "autoconfig",
        "destdir",
        "TARGETLIB",
        "algo",
        "bdir",
        "bindir",
        "bldnode",
        "bldpath",
        "CCDEPS",
        "CCLINK",
        "ccroot",
        "confcache",
        "CPPPATH",
        "cprogram",
        "cstlib",
        "deps",
        "distcheck",
        "distclean",
        "incnodes",
        "incpaths",
        "LDFLAGS",
        "libdir",
        "LIBPATH",
        "LINKDEPS",
        "okmsg",
        "outdir",
        "setenv",
        "sigs",
        "srcnode",
        "stlib",
        "STLIBPATH",
        "stlink",
        "taskgen",
        "testbuild",
        "tiprogram",
        "tooldir",
        "uselib",
        "waflib",
        "waf's",
        "wscript",
        // variables in wscript
        "confpy",
        // rst
        "linkcheck",
        "stringliteral",
        "toctree",
        "titlesonly",
        "maxdepth",
        "numref",
        "linenos",
        "literalinclude",
        "subsubsection",
        "subsubsections",
        "doxygenfunction",
        "genindex",
        "modindex",
        // python
        "maxsplit",
        "arcname", // 'tar' package
        "pycache",
        "getenv",
        "pypi",
        "isalnum",
        "itertools",
        "pylintrc",
        "pyproject",
        "groupby",
        "linesep", // 'os' package
        "pathsep", // 'os' package
        "platformdirs",
        "popen",
        "tzname",
        "rglob",
        "rsplit",
        "finditer",
        "hexlify",
        "startswith",
        // python packages
        "cantools",
        "jsonschema",
        "cffconvert",
        "clib",
        "gprof2dot",
        "iterrows",
        "pstats",
        "numpy",
        "matplotlib",
        "mypy",
        "statsmodels",
        "scikit",
        "filterpy",
        "dask",
        "scipy",
        "seaborn",
        "pykwalify",
        "qtconsole",
        "qtpy",
        "ruamel",
        //wxpython
        "vscroll", // style
        "Colour", // BackgroundColour etc.
        "gridlib", // subpackge of wx.grid
        "RADIOBOX", // wxpython control window name
        "NUMPAD", // wxpython Event name
        "CHECKLISTBOX", // wxpython control window name
        "CHOICEDLG", // wxpython choice dialog
        // python-can
        "bustype",
        // matplotlib
        "xlabel",
        "ylabel",
        "pyplot",
        // graphviz
        "fillcolor",
        "graphviz",
        "lhead",
        "invis",
        "fontcolor",
        "darkgreen",
        "nodesep",
        "ranksep",
        "ltail",
        "rankdir",
        "doublecircle",
        // sphinx
        "autofunction",
        "numfig",
        "delim",
        //latex
        "mathrm",
        // compiler flags
        "DASSERT",
        "flto",
        // compiler derived words
        "hexgen",
        "preproc",
        // cc-options.yaml
        "LINKFLAGS",
        "HEXGENFLAGS",
        "NMFLAGS",
        // misc
        "Zener",
        "pprs"
    ],
    "dictionaries": [
        "cpp",
        "python",
        "wordsEn",
        "wordsEnGb",
        "companies",
        "softwareTerms",
        "misc"
    ],
    "flagWords": [
        "endianess",
        "datasheet"
    ],
    "ignorePaths": [
        "**/*rules-2012.txt",
        "**/.git/objects/**",
        "**/__pycache__/**",
        "**/node_modules/**",
        "**/package-lock.json",
        "**/vscode-extension/**",
        ".clang-format",
        ".git*",
        ".lock-waf_*", // waf's lock file in the top level
        ".mailmap",
        ".vscode",
        "BSD-3-Clause.txt",
        "build/**",
        "CC-BY-4.0.txt",
        "CITATION.cff",
        "conf/cc/linker_pulls.json",
        "conf/env/conda_env_*.yaml",
        "conf/guidelines/rules.json",
        "conf/hcg/**",
        "conf/spa/.pylintrc",
        "conf/unit/ceedling.cmd",
        "conf/unit/project.yml",
        "conf/unit/vsc-settings.yml",
        "docs/_ext/**",
        "docs/_themes/**",
        "docs/conf.py",
        "docs/doxygen*.*",
        "docs/general/licenses-packages-conda-env-spelling.txt",
        "docs/general/licenses-packages-conda-env-spelling-build-strings.txt",
        "docs/general/licenses-packages-conda-env-win32.csv",
        "docs/general/license-tables/license-info_packages-conda-env-linux.csv",
        "docs/general/license-tables/license-info_packages-conda-env-win32.csv",
        "docs/general/license-tables/license-packages-conda-env-spelling.txt",
        "docs/general/license-tables/license-packages-conda-env-spelling-build-strings.txt",
        "docs/general/team-ad-sc.rst",
        "docs/general/team-dev.rst",
        "docs/general/team-former.rst",
        "docs/misc/bibliography.rst",
        "docs/software/configuration/fstartup.c-check.txt",
        "docs/spelling_wordlist.txt",
        "docs/style-sheet-file.css",
        "hardware/**/*.Annotation",
        "hardware/**/*.BomDoc",
        "hardware/**/*.DbLib",
        "hardware/**/*.Harness",
        "hardware/**/*.mdb",
        "hardware/**/*.OutJob",
        "hardware/**/*.PcbDoc",
        "hardware/**/*.PcbLib",
        "hardware/**/*.PrjPCB",
        "hardware/**/*.PrjPcbStructure",
        "hardware/**/*.PrjPcbVariants",
        "hardware/**/*.SchDoc",
        "hardware/**/*.SchLib",
        "hardware/**/*.stp",
        "src/app/driver/afe/nxp/common/MC33775A.h",
        "src/app/driver/afe/nxp/mc33775a/vendor/*.c",
        "src/app/driver/afe/nxp/mc33775a/vendor/*.h",
        "src/app/driver/sbc/fs8x_driver/**",
        "src/os/**",
        "tests/axivion/axivion_preinc.h",
        "tests/axivion/addon-test/**/test_*.*",
        "tests/axivion/ci_config.json",
        "tests/axivion/compiler_config.json",
        "tests/axivion/compiler-errata/ti-cgt-arm*/**",
        "tests/axivion/predefined_macros.txt",
        "tests/axivion/qualification-test/qualification-kit/**",
        "tests/axivion/rule_config_c.json",
        "tests/re-names/*.json",
        "tools/dbc/*.dbc",
        "tools/dbc/*.sym",
        "tools/debugger/lauterbach/*.in",
        "tools/debugger/ozone/*.jdebug.*",
        "tools/debugger/ozone\foxbms.jflash",
        "tools/gui/fgui/misc/logo.py", // just binary code
        "tools/waf", // waf binary
        "tools/waf3-*/**", // unpacked waf sources
        "tools/waf-verify-sig.py"
    ]
}
