{
  "recommendations": [
    "ms-vscode.cpptools",
    "ms-python.python",
    "maziac.asm-code-lens",
    "ZixuanWang.linkerscript",
    "streetsidesoftware.code-spell-checker",
    "redhat.vscode-yaml",
    "bungcip.better-toml",
    "hbenl.vscode-test-explorer",
    "numaru.vscode-ceedling-test-adapter"
  ]
}
