{
    "files.encoding": "utf8",
    "files.autoGuessEncoding": true,
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/CVS": true,
        "**/.DS_Store": true,
        "**/LLVM/**": true,
        "**/__pycache__/**": true,
        "**/build/**/*.pp": true,
        "**/build/**/*.ppr": true,
        "**/build/**/*.pprs": true,
        "**/conf/hcg/include/**":true
    },
    "files.watcherExclude": {
        "**/.git/objects/**": true,
        "**/.git/subtree-cache/**": true,
        "**/waf-3-*/**": true,
        "**/LLVM/**": true,
        "**/__pycache__/**": true,
        "**/build/**/*.pp": true,
        "**/build/**/*.ppr": true,
        "**/build/**/*.pprs": true,
        "**/conf/hcg/include/**":true
    },
    "search.exclude": {
        "**/node_modules": true,
        "**/bower_components": true,
        "**/*.code-search": true,
        "**/LLVM/**": true,
        "**/build/**/*.pp": true,
        "**/build/**/*.ppr": true,
        "**/build/**/*.pprs": true,
        "**/conf/hcg/include/**":true
    },
    "css.validate": false,
    "restructuredtext.linter.disabled": true,
    "restructuredtext.preview.sphinx.disabled": true,
    "restructuredtext.preview.docutil.disabled": true,
    "extensions.ignoreRecommendations": true,
    "C_Cpp.autoAddFileAssociations": true,
    "C_Cpp.clang_format_path": "{{ CLANG_FORMAT_EXECUTABLE }}",
    "C_Cpp.clang_format_style": "file",
    "C_Cpp.clang_format_fallbackStyle": "none",
    "ceedlingExplorer.projectPath": "build/unit_test",
    "ceedlingExplorer.debugConfiguration": "Ceedling GDB",
    "ceedlingExplorer.problemMatching": {
        "mode": "gcc"
    },
    "yaml.validate": true,
    "yaml.completion": true,
    "yaml.format.enable": true,
    "yaml.format.singleQuote": false,
    "python.linting.enabled": true,
    "python.linting.pylintEnabled": false,
    "python.linting.lintOnSave": false,
    "python.linting.pylintPath": "{{ PYLINT_PATH }}",
    "python.linting.pylintArgs": [
        "--rcfile={{ PYLINT_CONFIG }}"
    ],
    "python.terminal.activateEnvironment": false,
    "python.pythonPath": "{{ PYTHONPATH }}",
    "python.analysis.extraPaths": [
        "{{ WAF_DIR }}",
        "{{ WAF_TOOLS_DIR }}",
        "{{ AXIVION_MODULES }}"
    ],
    "python.condaPath": "{{ CONDA_PATH }}",
    "python.formatting.provider": "black",
    "python.formatting.blackPath": "{{ BLACKPATH }}",
    "python.formatting.blackArgs": [
        "--config",
        "{{ BLACK_CONFIG }}"
    ],
    "editor.tabSize": 4,
    "editor.insertSpaces": true,
    "editor.rulers": [
        79
    ],
    "[shellscript]": {
        "files.eol": "\n",
    },
    "editor.formatOnSave": true,
    "[restructuredtext]": {
        "editor.formatOnSave": true,
        "editor.rulers": [
            79
        ],
    },
    "[python]": {
        "files.encoding": "utf8",
        "editor.formatOnSave": true,
        "editor.rulers": [
            79
        ],
    },
    "[c]": {
        "editor.formatOnSave": true,
        "files.encoding": "iso88591",
        "editor.rulers": [
            {
                "column": 79
            },
            {
                "column": 119,
                "color": "#ff0000"
            },
        ],
    },
    "[html]": {
        "editor.formatOnSave": false
    },
    "[css]": {
        "editor.formatOnSave": false
    },
    "files.insertFinalNewline": true,
    "files.trimTrailingWhitespace": true,
    "files.trimFinalNewlines": true,
    "files.associations": {
        "docs/macros.txt": "restructuredtext",
        "docs/units.txt": "restructuredtext",
        "wscript": "python",
        "*linker_script_*.cmd": "linkerscript",
        "*.preinc": "c",
        "*.h": "c",
        "*.pp": "c",
        "*.ppm": "c",
        "*.ppr": "c",
        "*.pprs": "c",
        "*.cppcheck": "xml",
        "tests/axivion/cafeCC.config": "xml",
        "tests/axivion/architecture.gxl": "xml",
        "tests/axivion/mapping.gxl": "xml"
    },
    "axivion.pathMappings": [
        {
            "analysisProject": "{{ AXIVION_VS_CONFIG['analysisProject'] }}",
            "localPath": "{{ AXIVION_VS_CONFIG['localPath'] }}",
            "analysisPath": "{{ AXIVION_VS_CONFIG['analysisPath'] }}"
        }
    ]
}
