void OnProjectLoad (void) {
  // Dialog-generated settings
  Project.AddPathSubstitute ("@PROJECT_DIR@", "$(ProjectDir)");
  Project.AddPathSubstitute ("@PROJECT_DIR_LOWER@", "$(ProjectDir)");
  Project.SetDevice ("TMS570LC4357");
  // Target configuration: set to big endian
  Target.SetEndianess(1);
  Project.SetHostIF ("USB", "");
  Project.SetTargetIF ("JTAG");
  Project.SetTIFSpeed ("@TIF_SPEED@ MHz");
  Project.AddSvdFile ("$(InstallDir)/Config/CPU/Cortex-R5.svd");
  Project.ConfigSemihosting ("ModeSVC=2,ModeBKPT=2,ModeBP=1");
  // User settings
  Project.SetOSPlugin ("FreeRTOSPlugin_ARM");
  File.Open ("@ELF_FILE@");
}

void BeforeTargetReset (void) {
}

void OnStartupComplete() {
}

void AfterTargetReset (void) {
  unsigned int PC;

  PC = Elf.GetBaseAddr();

  if (PC != 0xFFFFFFFF) {
    Target.SetReg("PC", PC);
  } else {
    Util.Log("Project file error: failed to get program base");
  }
}

void AfterTargetDownload (void) {
  unsigned int PC;

  PC = Elf.GetBaseAddr();

  if (PC != 0xFFFFFFFF) {
    Target.SetReg("PC", PC);
  } else {
    Util.Log("Project file error: failed to get program base");
  }
}
