void OnProjectLoad (void) {
  // Dialog-generated settings
  Project.SetDevice ("TMS570LC4357");
  Project.SetHostIF ("USB", "");
  Project.SetTargetIF ("JTAG");
  Project.SetTIFSpeed ("50 MHz");
  Project.AddSvdFile ("$(InstallDir)/Config/CPU/Cortex-R5.svd");
  Project.AddPathSubstitute ("@PROJECT_DIR@", "$(ProjectDir)");
  Project.ConfigSemihosting ("ModeSVC=2,ModeBKPT=2,ModeBP=1");
  // User settings
  File.Open ("@ELF_FILE@");
  Project.SetOSPlugin ("FreeRTOSPlugin_ARM");

  // Target configuration: set to big endian
  Target.SetEndianess(1);

  // add fas_assertLocation to the watch window
  Watch.Insert("fas_assertLocation", 0x0);

}

void BeforeTargetReset (void) {
  // clear data breakpoint on fas_assertLocation
  Break.ClearOnSymbol("fas_assertLocation.line", AT_WRITE_ONLY, AW_ANY, 0x0, 0xFFFFFFFFFFFFFFFF);
}

void OnStartupComplete() {
  // enable data breakpoint on fas_assertLocation.pc after startup completion
  // this prevents catching the decompression that should run before
  Break.SetOnSymbol("fas_assertLocation.line", AT_WRITE_ONLY, AW_ANY, 0x0, 0xFFFFFFFFFFFFFFFF);
}

void AfterTargetReset (void) {
  unsigned int PC;

  PC = Elf.GetBaseAddr();

  if (PC != 0xFFFFFFFF) {
    Target.SetReg("PC", PC);
  } else {
    Util.Log("Project file error: failed to get program base");
  }
}

void AfterTargetDownload (void) {
  unsigned int PC;

  PC = Elf.GetBaseAddr();

  if (PC != 0xFFFFFFFF) {
    Target.SetReg("PC", PC);
  } else {
    Util.Log("Project file error: failed to get program base");
  }
}
